.todo-list__item--completed {
  text-decoration: line-through;
}

.todo-list--completed .todo-list__item--uncompleted,
.todo-list--uncompleted .todo-list__item--completed {
  display: none;
}

.todo-filter__link {
  margin-right: 10px;
}

.todo-filter__link--selected {
  font-weight: bold;
}
